* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#b6b6b6, transparent 1px),
    linear-gradient(90deg, #b6b6b6, transparent 1px);
    background-size: 20px 20px; 
    padding: 25px ;
}

.polling-wrapper {
    display: flex;
    max-width: 800px;
    padding: 30px 45px;
    border: 1px solid black;
    z-index: 1;
    margin: 0 auto;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    flex-wrap: wrap;
}

.polling-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.polling-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.polling-list-item {
    width: 100%;
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    padding: 10px 15px;
}